*{
  font-family: Sans-Serif; 
}


body {
  background-color: rgba(0, 0, 0, 1);
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
} 

.body{
  font-family: Sans-Serif;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color:black;
  color: white;
  overflow: hidden;
  background: black;
  align-items: left;
  justify-content: left;
  z-index: 100;
}

.top-info-container {
  z-index: 100;
  top: 20px;
  position: absolute;
  color: white;
  /*text-align: center;*/
  width: 100%;
  visibility: hidden;
}

.bottom-info-container {
  z-index: 100;
  bottom: 20px;
  position: fixed;
  color: white;
  text-align: center;
  width: 100%;
}

.globeContainer {
  background-color:black;
  color: whitesmoke;
  position: absolute;
  top: 0px;
  z-index: 100;
}

.topleft {
  background-color:black;
  color: whitesmoke;
  position: absolute;
  left: 10px;
  font-size: 27px;
  font-family: "Bradley Hand";
  z-index: 100;
}    

input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  z-index: 100;
}

label {
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 0 auto;
  position: relative;
  top: 70px;
  left: 20px;
  font-size: 11pt;
  font-family: Georgia;
  z-index: 100;
}

select {
  background-color: black;
  color: #FFF;
  padding: 2pt;
  border-radius: 3pt;
  border-color: #FFF;
  border-width: 1pt;
  font-size: 11pt;
  font-family: Georgia;
  position: relative;
  top: 50px;
  left: 90px;
  z-index: 100;
}

/*=================the Color Key==================*/

table {
  align-self: center;
  align-items: center;
  position: sticky;
  top: 0px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
  left: 170px;
  height: 0px;
  z-index: 100;
}

.chooseCategory{
  position: sticky;
  top: 1000px;
  padding-top:0px;
  padding-bottom: 0px;
  z-index: 100;
  text-align: center;
  font-size: 15px;
  overflow: auto;
  height:100%;
  width:100%;
  align-self: center;
  align-items: center;
}

.chooseCategory:hover{
  color: lime !important;
  align-self: center;
  align-items: center;
  z-index: 100;
  transition: 0.3s;
}

.categoryButton{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;  position: sticky;
  top: 1000px;
  height: 40px;
  /* color: white; */
  vertical-align: bottom;
  padding: 3px;
  width:5%;
  text-align: center;
  z-index: 100;
  opacity: 1;
  -moz-background-clip: border;
  -webkit-background-clip: border;
  background-clip: border-box;
  align-self: center;
  align-items: center;
}

#all{
  color: lime;
}

/*===================================*/

.slider-container {
  z-index: 100;
  position: fixed;
  top: 40px;
  display: flex;
  color: white;
  width: 60%;
  align-items: center;
  visibility: hidden;
}

.timeline-container {
  z-index: 100;
}

.ticks-container {
  z-index: 100;
  position: fixed;
  top: 50px;
  display: flex;
  color: white;
  width: 60%;
  align-items: center;
}

.labels-container {
  z-index: 100;
  position: fixed;
  top: 60px;
  display: flex;
  color: white;
  width: 60%;
  align-items: center;
}

.slider {
  -webkit-appearance: none;
  height: 2px;
  width: 2000pt;
  margin-right: 10px;
  border-radius: 5px;
  background: white;
  outline: none;
  opacity: 0.7;
  /*-webkit-transition: 0.2s;*/
  transition: opacity 0.2s;
  z-index: 100;
}
  
/* for the color change when hovered */
.slider:hover {
  opacity: 1;
  z-index: -1;
}
    
/* hover botton */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  border: 2px solid black;
  z-index: 100;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  border: 2px solid black;
  z-index: 100;
}
.range-value{
  position: absolute;
  top: -50%;
}
.range-value span{
  width: 30px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: white;
  color: black;
  font-size: 16pt;
  font-family: Georgia;
  font-size: 12px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 6px;
}
.range-value span:before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid white;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}


    
.play-button {
  border-radius: 5px;
  padding: 0px;
  font-size: 12pt;
  font-family: Georgia;
  cursor: pointer;
  background-color: black;
  border: 1px solid white;
  position: fixed;
  left: 15%;
  width: 3em;
  height: 1.5em;
  color: white;
  outline: none;
  z-index: -1;
  /*width: 5px;*/
}

.year-label {
  border-radius: 5px;
  /*padding: 5px;*/
  /*font-size: 14px;*/
  cursor: pointer;
  background-color: white; /*rgba(1, 1, 1, 0);*/
  border: 0px solid black;
  position: relative;
  top: 1px;
  left: -20px;
  color: white;
  outline: none;
  z-index: 300;
  /*width: 5px;*/
}

.legend-min {
  float: left;
  margin-left: 2px;
}

.legend-max {
  float: right;
  margin-right: 4px;
}

svg {
  fill: white;
}


/*===================================*/

.input {
  width: 20px; /*node*/
  height: 20px; /*node*/
  background-color: lightblue;
  position: relative;
  border-radius: 50%; 
  z-index: 100;
} 

/*doesn't change anything*/
.input:hover {
  cursor: pointer; 
  z-index: 100;
}

.input::before, .input::after {
  content: ''; /*lines in between nodes*/
  display: block;
  position: absolute;
  z-index: -1;
  /*top: -60px;*/
  transform: translateY(-50%);
  background-color: lightblue;
  width: 120px;
  height: 15px; /*height of lines in between nodes*/
  max-width: 200px; 
  z-index: 100;
}

/*the line (and the following codes are for the nodes)*/
.input::before {
  left: calc(-4vw + 12.5px);
}

/*two lines deleted here*/
.input.active {
  background-color: grey; 
}

.input.active::before {
 background-color: grey; 
}

/*a point in the middle of two labelled time points*/
.input.active::after {
  background-color: grey; 
}

.input.active span {
  font-weight: 700; 
}
    
/*for bold*/
/*several lines are deleted here*/
.input.active span::after {
  font-size: 15px; 
}

/*zoom the current time */
.input.active ~ .input, .input.active ~ .input::before, .input.active ~ .input::after {
  background-color: grey; 
}

.input span {
  width: 1px;
  height: 1px;
  position: relative;
  /*top: 80%;*/
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden; 
}
.input span::before, .input span::after {
  visibility: visible;
  position: absolute;
  left: 50%; 
}
.input span::after {
  content: attr(data-year);
  /*top: -60px;*/
  transform: translateX(-50%);
  font-size: 14px; 
}
.input span::before {
  content: attr(data-info);
  /*top: -60px;*/
  width: 70px;
  transform: translateX(-5px) rotateZ(-45deg);
  font-size: 12px;
  text-indent: -10px; 
}

 /* Card that is displayed when hovering over a country */
     
.card {
  font-family: 'Space Mono', monospace;
  transition: 0.3s;
  background-color: black;
  width: 330px;
  border: 4px solid  rgb(0, 100, 60) ;
  border-radius: 10px;
  color: white;
}

#card_placeholder {
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  position: absolute;
  color: white;
  width: 330px;
  cursor: pointer;
}

.card_container {
  /* padding: 3px 16px; */
  padding-top: 1px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: left;
  margin: 0;
  padding: 5;
  color: white;
}

.card-img {
  object-fit: contain;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-title {
  font-weight: bold;
  color: white;
}

.card-spacer {
  height: 1px;
}

.countriesTable{
  border: 1px solid;
  /*border-radius: 5px;
  border-spacing: 0; */
  padding: 5px;
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 2px rgb(0, 100, 60); /* this draws the table border  */
}

.countriesTable td, th{
  border: 1px solid;
  padding: 5px;
  cursor: pointer;
}

#table_placeholder {
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  right: 0%;
  position: absolute;
  color: white;
  width: 330px;
}

.globe-container{
  z-index: 1;
}


#loading_screen {
  display: flex;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 30%;
  font-size: large;
  justify-content: center;
  color:white;
  background-color: rgba(0, 0, 0, 1);
  background-image: url("https://c.tenor.com/UnFx-k_lSckAAAAC/amalie-steiness.gif");
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: 50% 10%;
}