.card {
 /* position: fixed;
    left: 0; */
    font-family: 'Space Mono', monospace;
    transition: 0.3s;
    background-color: black;
    width: 300px;
    border: 4px solid  rgb(0, 107, 63) ;
    border-radius: 10px;
    z-index: 2;
    margin: 0;
    padding: 0;    
    color: white;
}

#card_base {
    z-index: 10;
    position: relative;
    color: white;
}
  
.container {
    /* padding: 3px 16px; */
    padding-top: 1px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: left;
    margin: 5;
    padding: 5;
    color: white;
}
  
.card-img {
    object-fit: contain;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
    padding: 0;
}
  
.card-title {
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: white;
}
  
.card-spacer {
    height: 1px;
    margin: 0;
    padding: 0;
    color: white;
}
  
.scene-tooltip {
    z-index: 2;
    margin: 0;
    padding: 0;
    color: white;
}
