*{
  margin: 0;
  padding: 0;
  font-family: sans-serif; 
}
.body{
  padding-top: 60px;
  padding-bottom: 40px;
  /*background-color:black;*/
  color: whitesmoke;
  align-items: left;
  justify-content: left;
}

.container {
  position: relative;
}


.topleft {
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 27px;
  font-family: "Bradley Hand";
}    

input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

label {
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 0 auto;
  position: relative;
  top: 70px;
  left: 20px;
  font-size: 11pt;
  font-family: Georgia;
}

select {
  background-color: black;
  color: #FFF;
  padding: 2pt;
  border-radius: 3pt;
  border-color: #FFF;
  border-width: 1pt;
  font-size: 11pt;
  font-family: Georgia;
  position: relative;
  top: 50px;
  left: 90px;
}

hr {
  position: relative;
  top: 58px;
  background: linear-gradient(to right, black,grey,black);
  height: 1px;
  border-width: 0pt;
  align-self: left;
  left: 0px;
  width: 300px;
}

/*=================the Color Key==================*/

table {
  align-self: center;
  align-items: center;
  position: relative;
  top: 770px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
  left: 170px;
  height: 0px;
}

.chooseCategory{
padding-top:-10px;
padding-bottom: 4px;
text-align: center;
font-size: 15px;
overflow: auto;
height:100%;
width:100%;
align-self: center;
align-items: center;
}
.chooseCategory:hover{
background-color: #FFF;
color:#080808;
align-self: center;
align-items: center;
}

.categoryButton{
position: relative;
top: 10px;
height: 200px;
color: white;
vertical-align: bottom;
padding: 3px;
width:5%;
text-align: center;
z-index: 99;
opacity: 1;
-moz-background-clip: border;
-webkit-background-clip: border;
background-clip: border-box;
align-self: center;
align-items: center;
}

.categoryButton:hover{
border-top: 10px;
}
.categorySelected{
background-color: #FFF;
color:#080808;
}

/*===================================*/


.flex-parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%; }

.input-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: 0px;
  max-width: 1000px;
  position: relative;
  z-index: 0; }

.input {
  width: 20px; /*node*/
  height: 15px; /*node*/
  background-color: lightblue;
  position: relative;
  border-radius: 50%; } /*doesn't change anything*/
  .input:hover {
    cursor: pointer; }
  .input::before, .input::after {
    content: ''; /*lines in between nodes*/
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    background-color: lightblue;
    width: 120px;
    height: 15px; /*height of lines in between nodes*/
    max-width: 200px; }
    /*the line (and the following codes are for the nodes)*/
  .input::before {
    left: calc(-4vw + 12.5px); }
    /*two lines deleted here*/
  .input.active {
    background-color: grey; }
    .input.active::before {
      background-color: grey; }
      /*a point in the middle of two labelled time points*/
    .input.active::after {
      background-color: grey; }
    .input.active span {
      font-weight: 700; }
      /*for bold*/
      /*several lines are deleted here*/
      .input.active span::after {
        font-size: 15px; }
        /*zoom the current time */
  .input.active ~ .input, .input.active ~ .input::before, .input.active ~ .input::after {
    background-color: grey; }
  .input span {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden; }
    .input span::before, .input span::after {
      visibility: visible;
      position: absolute;
      left: 50%; }
    .input span::after {
      content: attr(data-year);
      top: 15px;
      transform: translateX(-50%);
      font-size: 14px; }
    .input span::before {
      content: attr(data-info);
      top: -65px;
      width: 70px;
      transform: translateX(-5px) rotateZ(-45deg);
      font-size: 12px;
      text-indent: -10px; }

.description-flex-container {
  width: 80vw;
  font-weight: 400;
  font-size: 22px;
  margin-top: 100px;
  max-width: 1000px; }
  .description-flex-container p {
    margin-top: 0;
    display: none; }
    .description-flex-container p.active {
      display: block; }

@media (min-width: 1250px) {
  .input::before {
    left: -37.5px; }
  .input::after {
    right: -37.5px; } }






